/* main background color */
[class*="downloads_DownloadsPage_"] {
    background: var(--downloadspagebg) !important;
}

/* top background color */
[class*="downloadgraph_GraphAndStats_"] {
    background: var(--downloadspagetop) !important;
}

/* downloads line top */
[class*="downloads_TopBar_"] {
    background: var(--libraryhome) !important;
}

/* hide the download image */
[class*="downloadgraph_HeroAndLogo_"][class*="downloadgraph_Empty_"] {
    background: transparent !important;
    display: var(--hidedlimage) !important;
}

/* top graph for downloads */
[class*="downloadgraph_DownloadGraph_"] {
    background: var(--librarysidebg) !important;
    display: var(--hidedlgraph) !important;
}

/* remove grandient from background top */
[class*="downloads_DownloadGraph_"] [class*="downloads_Gradient_"] {
    background-image: none !important;
}

/* remove background for item downloading */
[class*="downloads_SectionItem_"] {
    background-color: transparent !important;
}

/* remove background hover and drag for item downloading */
[class*="downloads_SectionItem_"]:hover,[class*="downloads_SectionItem_"][class*="downloads_Dragging_"] {
    background-color:transparent
}

/* color for grabber */
[class*="downloads_SectionItem_"] [class*="downloads_DragHandle_"] {
    color: var(--libraryhome) !important;
}

/* give a rounded edge to the stop button */
[class*="downloads_SectionItem_"] [class*="downloads_Button_"][class*="downloads_RemoveFromQueue_"] {
    border-radius: 2px !important;
}

/* change the text to matching library color */
[class*="downloads_SectionItemStatus_"] [class*="downloads_State_"][class*="downloads_Downloading_"], [class*="downloads_ProgressDetails_"] [class*="downloads_Value_"][class*="downloads_Active_"] {
    color: var(--libraryhome) !important;
}

/* remove seperatoer line */
[class*="downloads_SectionTitle_"] [class*="downloads_Rule_"] {
    background: transparent !important;
}

/* Clean all button */
[class*="downloads_RemoveAllButton_"][class*="downloads_RemoveAllButton_"].DialogButton:enabled {
    border-radius: var(--Corner0) !important;
}

/* auto updates centered */
[class*="downloads_AutoUpdate_"] {
    margin-top: 5px !important;
    margin-left: 10px !important;
}