/* main background color */
.downloads_DownloadsPage_1bq4x {
    background: var(--downloadspagebg) !important;
}

/* top background color */
.downloadgraph_GraphAndStats_3KDkL {
    background: var(--downloadspagetop) !important;
}

/* downloads line top */
.downloads_TopBar_SEmVp {
    background: var(--libraryhome) !important;
}

/* hide the download image */
.downloadgraph_HeroAndLogo_3mZ2r.downloadgraph_Empty_pHDI1 {
    background: transparent !important;
    display: var(--hidedlimage) !important;
}

/* top graph for downloads */
.downloadgraph_DownloadGraph_1BxZD {
    background: var(--librarysidebg) !important;
    display: var(--hidedlgraph) !important;
}

/* remove grandient from background top */
.downloads_DownloadGraph_1ashw .downloads_Gradient_FZSi1 {
    background-image: none !important;
}

/* remove background for item downloading */
.downloads_SectionItem_1VNuY {
    background-color: transparent !important;
}

/* remove background hover and drag for item downloading */
.downloads_SectionItem_1VNuY:hover,.downloads_SectionItem_1VNuY.downloads_Dragging_3-SbB {
    background-color:transparent
}

/* color for grabber */
.downloads_SectionItem_1VNuY .downloads_DragHandle_14DhZ {
    color: var(--libraryhome) !important;
}

/* give a rounded edge to the stop button */
.downloads_SectionItem_1VNuY .downloads_Button_3oavR.downloads_RemoveFromQueue_2xR-V {
    border-radius: 2px !important;
}

/* change the text to matching library color */
.downloads_SectionItemStatus_1Sygg .downloads_State_2ns4w.downloads_Downloading_33BlY, .downloads_ProgressDetails_sv3ZH .downloads_Value_1dHjj.downloads_Active_IbePL {
    color: var(--libraryhome) !important;
}

/* remove seperatoer line */
.downloads_SectionTitle_qq2xI .downloads_Rule_1CTr1 {
    background: transparent !important;
}

/* Clean all button */
.downloads_RemoveAllButton_1GdR5.downloads_RemoveAllButton_1GdR5.DialogButton:enabled {
    border-radius: var(--Corner0) !important;
}

/* auto updates centered */
.downloads_AutoUpdate_qrwf3 {
    margin-top: 5px !important;
    margin-left: 10px !important;
}