@import url('https://aikomidori.github.io/steam-library/css/Scrollbar.css');

/* ------------------GAME PAGES------------------ */

  /* Beta Button */
  .libraryhome_BetaBar_1HcmY {
    margin-top: 5px !important;
    margin-right: 30px !important;
    border-radius: 30px !important;
    background: rgb(var(--lightgrey)) !important;
  }

  /* Removes Play Button Glow */
  .appdetailsoverview_Glassy_2OOzY > div {
    z-index: -1 !important;
  }

  /* Removes Play Button Glow */
  .appdetailsplaysection_Container_3Yf8b {
    z-index: 2 !important;
  }

  .appactivityday_PartnerEvent_1AYE1 {
    border: 0x !important;
    border-image-source: none !important;
    background: rgb(var(--backdropblur)) !important;
  }

  .appactivityday_PartnerEventMediumImage_Container_1HZy7:hover {
    background:none;
  }

  .appactivityday_Event_UVeN0:first-child {
    border-radius: 4px !important;
    background: rgb(var(--backdropblur)) !important;
    padding-left: 5px !important;
  }

  .appactivityday_PartnerEventMediumImage_Container_1HZy7 {
    background: none !important;
  }

  .appactivityday_ScreenshotCaption_23HTp.appactivityday_HasCaption_tLc3y, .appactivityday_VideoTitle_1d0ij.appactivityday_HasCaption_tLc3y {
    background-image: none !important;
    border-bottom-left-radius: 4px !important;
    backdrop-filter: blur(50px)
  }

/* Blurs The Backgrounds */
.appdetailsoverview_Container_27RcN {
    backdrop-filter: var(--FuckBlur) !important;
    background: rgb(var(--FlatColor)) !important;
    display: block!important;
}

/* Blurs The Backgrounds */
.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_BackdropGlass_Jbe-- {
    backdrop-filter: var(--FuckBlur) !important;
    background: rgb(var(--FlatColor)) !important;
}

/* Changes Blur Color & Depth For Games Page */
.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_ColumnContainer_OhSdL {
    backdrop-filter: var(--FuckBlur) !important;
    background: rgb(var(--FlatColor)) !important;
}

/* Game Page Launch Game Bar */
.appdetailsplaysection_StickyHeader_39Rhe .appdetailsplaysection_Glassy_3DeO9 {
    backdrop-filter: var(--FuckBlur) !important;
    background: rgb(var(--FlatColor)) !important;
}

  .appdetailscommunityfeed_ArtItem_1aP1b .appdetailscommunityfeed_BottomSection_3uabi {
    background: none !important;
    color: #2db9ff !important;
    backdrop-filter: blur(50px) !important;
  }

  .appdetailsplaysection_DetailsProgressContainer_25YVD {
    border-radius: 6px !important;
    background-color: rgb(var(--grey)) !important;
    margin-top: 6px !important;
  }

  .appdetailsplaysection_DetailsProgressContainer_25YVD .appdetailsplaysection_DetailsProgressBar_1FnTq {
    border-radius: 6px !important;
  }

  .appdetailsachievementssection_AchievementProgressContainer_3ns91 {
    background-color: rgb(var(--darkgrey)) !important;
    border-radius: 6px !important;
  }

  .appdetailsachievementssection_AchievementProgressContainer_3ns91 .appdetailsachievementssection_AchievementProgress_3Rm36 {
    border-radius: 6px !important;
  }


  .appdetailsplaysection_GameStat_1kiZK .appdetailsplaysection_GameStatIcon_1tIg- {
    margin: 0px !important;
  }

  /* Hover Over What's New Game */
  .libraryhomenewupdates_PartnerEventRowCapsule_Container_B-vCd.libraryhomenewupdates_HoversEnabled_278jF:hover .libraryhomenewupdates_EventSummaryContainer_3Rb_j {
    background-color: transparent !important;
    border-radius: 4px !important;
    backdrop-filter: blur(12px) !important;
  }

  /* Background Hover Over What's New Game */
  .libraryhomenewupdates_PartnerEventRowCapsule_Container_B-vCd .libraryhomenewupdates_PartnerEventRowCapsule_MainImageContainer_SPz0i {
    background-color: transparent !important;
}
  
  /* Game Page Catogory Background */
  .collectionview_OuterContainer_2sNr7 {
    background: rgb(var(--darkgrey)) !important;
  }
  
  /* Game Page Background */
  .libraryhome_InnerContainer_2AUVZ {
    background: rgb(var(--darkgrey)) !important;
  }
  
  /* Game Page What's New Line */
  .pageablecontainer_HeaderPageControls_2ce8e .pageablecontainer_Rule_3kmsu {
    display: none !important;
  }
  
  /* Game Page Buttons */
  .pageablecontainer_PageClickContainer_3E421 .pageablecontainer_PageLeft_1L7no, .pageablecontainer_PageClickContainer_3E421 .pageablecontainer_PageRight_1qFMs {
    width: 18px !important;
    height: 18px !important;
    padding: 5px !important;
    font-size: 0px !important;
    background: rgb(var(--lightgrey)) !important;
    border-radius: 40px !important;
  }
  
  /* Game Page Game Titles */
  .libraryhomenewupdates_GameIconAndName_3_xMy {
    background-color: rgb(var(--grey)) !important;
    border-radius: 4px !important;
  }
  
  /* Game Tags Title Line */
  .collectionview_Container_2q70u .collectionview_Header_2rqTS .collectionview_Rule_1grg9 {
   display: none !important;
  }
  
  /* Game Page Game Collection Tags */
  .gamelistsearchbar_SearchFilterInput_172OF .gamelistsearchbar_FilterTag_3gzh_ {
    background-color: rgb(var(--black)) !important;
    border-radius: 4px !important;
  }
  
  /* Your Collection Page */
  .allcollections_ScrollContainer_u1xD3 {
    background: rgb(var(--darkgrey)) !important;
  }
  
  /* Your Collection Page Tile Backgrounds */
  .allcollections_Collection_3IWn- {
    background: rgb(var(--black)) !important;
  }
  
  /* Recent Friend Activity Game Images */
  .libraryhomefriendsactivity_HeroImageClipper_3RqCl {
    border-radius: 4px;
  }
  
  /* Changes Blur Color For Games Page */
  .appdetails_ScrollContainer_2l416 {
    background-color: rgb(var(--darkgrey)) !important;
  }
  
  /* Changes Blur Color For Games Page */
  .appdetails_Glassy_3Fmxx.appdetails_ScrollContainer_2l416 {
    background-image: radial-gradient(100% 100% at 45% 35%, rgb(var(--darkgrey)) 0%, rgb(var(--darkgrey)) 100%) !important;
  }

  /* Changes Background Game Page Communnity Photos */
  .appdetailscommunityfeed_CommunityItem_3QS6O {
    background-color: rgb(var(--backdropblur)) !important;
  }

  .comment_thread_ActivityCommentThread_39nna {
    background: transparent !important;
  }

  .appactivityday_PartnerEventLargeImage_Container_Libri {
    background: transparent !important;
    border: 0px !important;
    border-image-source: none !important;
  }

  .spotlightgameplaysummary_SummaryCarouselContainer_wgbDI {
    background: transparent !important;
  }

  .spotlightgameplaysummary_SummaryCarouselContainer_wgbDI:after {
    box-shadow: none !important;
  }

  .appdetailsspotlight_NewDLCContainer_3Exow {
    background: transparent !important;
  }

  .appactivityday_PartnerEventLargeImage_Container_Libri:hover {
    background: transparent !important;
  }

  .posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_PostButton_2JSyA {
    background-color: rgb(var(--backdropblur)) !important;
    border-radius: 4px !important;
  }

  .posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D button.posttextentry_EmoticonButton_bACIu {
    background-color: rgb(var(--backdropblur)) !important;
    border-radius: 4px !important;
  }

  .posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2 {
    background: rgb(var(--backdropblur)) !important;
  }

  .posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2:focus {
    background: rgb(var(--backdropblur)) !important;
  }

  /* Changes Background Game Page Communnity Guide */
  .appdetailscommunityfeed_Guide_-85o5 .appdetailscommunityfeed_TopSectionInner_1dJuv {
    background: transparent !important;
  }

  /* Removes Background Game Page Communnity Photos */
  .appdetailscommunityfeed_AuthorSection_1ul9Z {
    background: transparent !important;
    padding: 0px !important;
  }
  
  /* Removes Padding Social Background */
  .appdetailsprimarylinkssection_LinksSection_3-V8v {
    margin-bottom: 0px !important;
  }
  
  /* Removes Image Blur */
  .appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_RightColumnSection_3KfxI {
    border: 1px solid transparent !important;
    /* border-image-source: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAACXBIW…ZzXCqnpSlmImI2x2QQKSJm5qJtxuV5CRVFdnby/ODBJ/j/Lba7Vcfad4UAAAAASUVORK5CYII=);
    border-image-width: 1px !important; */
    background: none !important;
  }
  
  
  .appdetailssection_AppDetailsSectionContainer_31ptF {
    z-index: 1 !important;
  }
  
  
  .spotlight_MajorEventContainer_dVJB2{
      border: 1px solid transparent !important;
      border-image-source: none !important;
  }
  
  
  .spotlight_MajorEventBackground_388Iu {
    border-radius: 10px !important;
  }
  
  
  .spotlight_MajorEventHeader_1HL2n {
    background-color: transparent !important;
  }
  
  /* Removes Game Page Social Background */
  .appdetailsprimarylinkssection_LinksSection_3-V8v > div {
    background: none !important;
  }
  
  /* Removes Game Page Community Header Background */
  .appdetailscommunityfeed_HeaderStyles_2lNdD {
    background: none !important;
    color: white !important;
  }
  
  /* Removes Play/Install Background */
  .appdetailsplaysection_Glassy_3DeO9.appdetailsplaysection_PlayBar_3fLo1 {
    background: none !important;
  }
  
  /* Game Page Content Background */
  .appactivityday_Event_UVeN0 .appactivityday_EventBody_NEMXh {
    background: none !important;
  }
  
  /* Game Page Achievements Background */
  .appdetailssection_Highlight_38t1m {
    background: none !important;
  }
