/* Game Page Header Background */
.libraryhome_UpdatesContainer_17uEB {
    background: var(--librarybg) !important;
    padding-top: 15px !important;
    padding-bottom: 275px !important;
}

.libraryhome_WhatsNewContainer_gdZT7 {
    display: var(--WhatsNew) !important;
}

.libraryhome_LibraryHomeSection_1NCHR {
    display: var(--Recent) !important;
}

.appportrait_RecentGameFooter_2d1hS {
    border-radius: var(--Corner0) !important;
}

.index_Container_2mu1w.index_PreloadThrobber_2dqG9 {
    background: var(--darkgrey) !important;
}

.libraryhome_LibraryHome_3Sb2o {
    background-image: none !important;
}

.appportraithover_DownloadStatus_1KHOC {
    background-color: transparent !important;
}

/* Add Shelf Hover Line */
.libraryhomeshowcases_AddShowcaseRow_3SkuN .libraryhomeshowcases_Rule_1PhK8 {
    display: none !important;
}

/* Add Shelf Button Reposition */
.libraryhomeshowcases_AddShowcaseRow_3SkuN .libraryhomeshowcases_AddShowcase_2aw5a {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.appportrait_UninstalledBar_kX-tI .appportrait_UninstalledProgressBar_mA39H {
    background-color: var(--libraryhome) !important;
}

.appportrait_UninstalledBar_kX-tI.appportrait_BarDownloading_3BNwj {
    background-color: var(--invisiblegrey) !important;
}

.appportrait_LibraryItemBoxShine_MyNb5 {
    transition-property: transform, opacity !important;
    transition-duration: 0.6s !important;
    display: var(--CoverHover) !important;
}

/* Removes the divider line in Collections */
.appgrid_AppGridSectionHeader_3bWIS .appgrid_Rule_3pJqX {
    display: none !important;
}

/* Removes the sticky header in Collections */
.appgrid_AppGridSectionHeader_3bWIS::after {
    display: none !important;
}

.appgrid_SortingDropDownContainer_1ZpBQ > div {.appgrid_AppGridSectionHeader_3bWIS .appgrid_Rule_3pJqX
    background: var(--grey) !important;
    border-radius: var(--Corner0) !important;
    border: 0 !important;
}

.tooltip_TextToolTip_SeaN1 { 
    background-color: #151515 !important;
    border-radius: var(--Corner0) !important;
}

.DialogDropDownMenu._DialogInputContainer {
    background: var(--grey) !important;
    border-radius: var(--Corner0) !important;
    border: 0 !important;
    margin-top: 4px !important
}

.appportraithover_ScreenshotCrossfade_2R6-l {
    width: 95% !important;
    background: transparent !important;
    -webkit-mask-image: none !important;
}

.appportraithover_AppPortraitHover_2sGn0 {
    border-radius: 4px !important;
    background: var(--darkgrey) !important;
}

.appportraithover_CapsuleBackgroundContainer_Yts2c {
    border-radius: 4px !important;
}

.appportraithover_FriendsContainer_3_0Qb {
    background-color: transparent !important;
}

.appportraithover_ScreenshotImg_2X1QC {
    border-radius: 4px !important;
}

.DialogDropDownMenu._DialogInputContainer {
    background: var(--grey) !important;
    border-radius: var(--Corner0) !important;
    border: 0 !important;
    margin-top: 4px !important;
}

.appportrait_LibraryItemBox_WYgDg {
    border-top: 0 !important;
    border-radius: var(--Corner1) !important;
}

/* Scroll To Top */
.smartscrollcontainer_ScrollToTopButton_1J21t div {
    background: var(--backdropblur) !important;
    border-radius: var(--Corner2) !important;
    color: white !important;
    backdrop-filter: blur(50px) !important;
}

.library_MainPanel_3BFcm .library_NewCollectionTarget_3PAPB {
    background-color: var(--black) !important;
    box-shadow: none !important;
}

.smartscrollcontainer_ScrollToTopButton_1J21t {
    bottom: 5px !important;
}

.smartscrollcontainer_ScrollToTopButton_1J21t:hover.smartscrollcontainer_Visible_28ZR8 {
    color: white !important;
    filter: none !important;
}

.libraryhomenewupdates_PartnerEventRowCapsule_Container_B-vCd .libraryhomenewupdates_EventTimeSpan_3OSZu {
    background-color: var(--backdropblur) !important;
    backdrop-filter: blur(50px) !important;
    border-radius: var(--Corner0) !important;
    color: var(--online) !important;
}

.appfilterpane_Container_170Np .appfilterpane_FilterArea_1ennW .appfilterpane_FilterBucket_1axoi .appfilterpane_FilterBucketLabel_3iV2v {
    color: var(--textcolor) !important;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY .gamelistsearchbar_AdvancedSearchPaneContainer_1dgAM .gamelistsearchbar_AdvancedSearchPane_Woh0k {
    left: 32px !important;
}

/* Move Shelf Around Line Color */
.libraryhomeshowcases_ShowcaseHeader_23Snl .libraryhomeshowcases_PostDropdownRule_NR6cm, .libraryhomeshowcases_ShowcaseHeader_23Snl .libraryhomeshowcases_Rule_1PhK8 {
    background-color: transparent !important;
}

.libraryhomeshowcases_ShowcaseHeader_23Snl .libraryhomeshowcases_DragHandle_1OGfH {
    stroke: transparent !important;
    fill: var(--libraryhome) !important;
}

.libraryhome_Container_2gSXC {
    background: var(--librarybg) !important;
}

.offline .steamavatar_avatarStatus_3xUpb.avatarStatus.none {
    display: none !important;
}

.online .steamavatar_avatarStatus_3xUpb.avatarStatus.none {
    display: none !important;
}

.ingame .steamavatar_avatarStatus_3xUpb.avatarStatus.none {
    display: none !important;
}

.snooze .steamavatar_avatarStatus_3xUpb.avatarStatus.none {
    display: none !important;
}

.appportrait_FriendsBar_3dncO .appportrait_IconsRestCount_2JYwp.appportrait_Short_yGeS6 {
    border-radius: var(--Corner3) !important;
}

.libraryhomeshowcases_CollectionDropDown_1YdRd ._DialogInputContainer, .pageablecontainer_HeaderPageControls_2ce8, .pageablecontainer_HeaderPageControls_2ce8e .pageablecontainer_Name_EckfX {
    color: var(--TitleColor) !important;
    font-weight: var(--TitleFont) !important;
}

.libraryhomeshowcases_CollectionDropDown_1YdRd ._DialogInputContainer .DialogDropDown_Arrow svg {
    fill: var(--TitleColor) !important;
}

.appportrait_LibraryItemActionButton_3AjoL.appportrait_Play_1_Bo2:not(.appportrait_Disabled_1aml4) {
    background: radial-gradient(circle farthest-corner at 50% 50%, var(--ButtonPlay) 0%, var(--ButtonPlay2) 100%) !important;
}

.appportrait_HoversEnabled_54PuC .appportrait_LibraryItemActionButton_3AjoL.appportrait_Play_1_Bo2:not(.appportrait_Disabled_1aml4):hover {
    background: radial-gradient(circle farthest-corner at 50% 50%, var(--ButtonPlayHover) 0%, var(--ButtonPlayHover2) 100%) !important;
}

.appportrait_HoversEnabled_54PuC .appportrait_LibraryItemActionButton_3AjoL.appportrait_Play_1_Bo2:not(.appportrait_Disabled_1aml4):hover:after {
    border-color: white !important;
}

.appportrait_LibraryItemActionButton_3AjoL.appportrait_Play_1_Bo2:not(.appportrait_Disabled_1aml4) .SVGIcon_Play {
    fill: white !important;
}

/* What's New Section Image Roundness */
.libraryhomenewupdates_PartnerEventRowCapsule_Container_B-vCd .libraryhomenewupdates_PartnerEventRowCapsule_MainImageContainer_SPz0i {
    border-radius: var(--Corner1) !important;
}

/* Game Page Game Titles */
.libraryhomenewupdates_GameIconAndName_3_xMy {
    background-color: var(--buttonbg1) !important;
    border-radius: var(--Corner0) !important;
}

.libraryhomeshowcases_CollectionDropDownContainer_2Sj4-.libraryhomeshowcases_CollectionDropDownContainer_2Sj4- ._DialogInputContainer {
    background: var(--dropdownbg) !important;
    border-radius: var(--Corner0) !important;
    box-shadow: none !important;
}

.appgrid_SortingDropDown_1tBzy ._DialogInputContainer .DialogDropDown_CurrentDisplay, .appgrid_SortingDropDown_1tBzy ._DialogInputContainer .DialogDropDown_Arrow {
    background-color: var(--buttonbg1) !important;
}

.libraryhomeshowcases_CollectionDropDownContainer_2Sj4-.libraryhomeshowcases_CollectionDropDownContainer_2Sj4- .libraryhomeshowcases_DropDownItems_lYnGt:hover {
    background: var(--libraryhome) !important;
}

/* Small Install Button Color */
.appportrait_FeaturedCapsule_xp7A- .appportrait_LibraryItemActionButton_3AjoL {
    background: var(--ButtonInstall) !important;
}
/* Small Install Button Color Hover */
.appportrait_HoversEnabled_54PuC .appportrait_LibraryItemBox_WYgDg .appportrait_LibraryItemActionButton_3AjoL:hover:not(.appportrait_Disabled_1aml4):not(.appportrait_Play_1_Bo2) {
    background: var(--ButtonInstallHover) !important;
}

/* Shadow Navigation Bar */
.library_TopGradient_34Cqr {
    display: var(--TopShadow) !important;
}