/* MINI PROFILES*/

/* Changes User Avatar Game Page Communnity Photos */
.steamavatar_avatar_3h-QR {
    border-radius: 60px !important;
    border: 0px !important;
    height: 28px !important;
    width: 28px !important;
}

/* Changes User Miniprofile Avatar */
.miniprofile_miniProfile_2QPdq .steamavatar_avatar_3h-QR {
    border-radius: 60px !important;
    border: 0px !important;
    height: 90px !important;
    width: 90px !important;
}

.miniprofile_miniProfileBackgroundBlur_xUosY {
    display: none !important; }

.miniprofile_miniProfileBackground_3HzZh {
    background: rgb(var(--black)) !important;
    border-radius: 4px !important; }

.miniprofile_miniProfile_2QPdq {
    border: 0px !important;
    border-radius: 0px !important; }
  
.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfileHeader_3CZcH {
    background: rgb(var(--black)) !important;
    border-radius: 4px !important; }

.miniprofile_miniProfileContent_1xTAT.miniprofile_notInOrWatchingGame_1NkB7 .miniprofile_miniProfileBottom_26ga2,
.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfileGameContainer_7-U6j {
    background: transparent !important;
    top: 10px !important; }

.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.in-game .miniprofile_personaName_qiP8a:not(.miniprofile_hasNickname_2TAWS) .miniprofile_personaNameLabel_2VUw8,
.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.in-game .miniprofile_personaName_qiP8a.miniprofile_nickName_h_So5 .miniprofile_personaNameLabel_2VUw8 {
    color: rgb(var(--ingame)) !important;
    border-radius: 4px !important; }

.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.online .miniprofile_nickname_1SWhp,
.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.online .miniprofile_persona_3c5GO,
.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.online .miniprofile_playerContent_2-pwJ .miniprofile_awayStatusLabel_1FgWI {
    color: rgb(var(--online)) !important;
    border-radius: 4px !important; }

.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.miniprofile_online .miniprofile_nickname_1SWhp,
.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.miniprofile_online.online .miniprofile_persona_3c5GO,
.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.miniprofile_online.online .miniprofile_playerContent_2-pwJ .miniprofile_awayStatusLabel_1FgWI {
    color: rgb(var(--online)) !important;
    border-radius: 4px !important; }

.online .steamavatar_avatarStatus_3xUpb {
    background: rgb(var(--online)) !important;
    border-radius: 50px !important;
    width: 30px !important;
    height: 30px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: -1 !important;
}

.ingame .steamavatar_avatarStatus_3xUpb {
    background: rgb(var(--ingame)) !important;
    border-radius: 50px !important;
    width: 30px !important;
    height: 30px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: -1 !important;
}

.awayOrSnooze .steamavatar_avatarStatus_1Pwr6 {
    background: rgb(var(--snooze)) !important;
    border-radius: 50px !important;
    width: 30px !important;
    height: 30px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: -1 !important;
} 

.golden .steamavatar_avatarStatus_3xUpb {
    border-radius: 50px !important;
    width: 30px !important;
    height: 30px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: -1 !important;
}

.watchingbroadcast .steamavatar_avatarStatus_3xUpb {
    border-radius: 50px !important;
    width: 30px !important;
    height: 30px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: -1 !important;
}

.offline .steamavatar_avatarStatus_3xUpb {
    background: rgb(var(--offline)) !important;
    border-radius: 50px !important;
    width: 30px !important;
    height: 30px !important;;
    left: -1px !important;
    top: -1px !important;
    z-index: -1 !important;
}

.online .X-Large .steamavatar_avatarStatus_3xUpb {
    background: rgb(var(--online)) !important;
    border-radius: 50px !important;
    width: 92px !important;
    height: 92px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: 1 !important;
}

.ingame .X-Large .steamavatar_avatarStatus_3xUpb {
    background: rgb(var(--ingame)) !important;
    border-radius: 50px !important;
    width: 92px !important;
    height: 92px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: 1 !important;
}

.awayOrSnooze .X-Large .steamavatar_avatarStatus_3xUpb {
    background: rgb(var(--snooze)) !important;
    border-radius: 50px !important;
    width: 92px !important;
    height: 92px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: 1 !important;
}

.golden .X-Large .steamavatar_avatarStatus_3xUpb {
    border-radius: 50px !important;
    width: 92px !important;
    height: 92px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: 1 !important;
}

.watchingbroadcast .X-Large .steamavatar_avatarStatus_3xUpb {
    border-radius: 50px !important;
    width: 92px !important;
    height: 92px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: 1 !important;
}

.offline .X-Large .steamavatar_avatarStatus_3xUpb {
    background: rgb(var(--offline)) !important;
    border-radius: 50px !important;
    width: 92px !important;
    height: 92px !important;
    left: -1px !important;
    top: -1px !important;
    z-index: 1 !important;
}

/* mini profile  status */

.miniprofile_avatarStatus {
    display: none !important; }

.miniprofile_miniProfileContent_1xTAT .miniprofile_playerAvatar_36eQg img {
    border-radius: 50px !important; }

.miniprofile_miniProfileContent_1xTAT .miniprofile_playerAvatar_36eQg {
    border-radius: 50px !important; }
    
.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.online .miniprofile_avatarStatus_1YdpX.miniprofile_miniProfileAvatarStatus_1k5Yk {
    background: rgb(var(--online)) !important;
    border-radius: 4px !important; }
      
.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.in-game .miniprofile_avatarStatus_1YdpX.miniprofile_miniProfileAvatarStatus_1k5Yk {
    background: rgb(var(--ingame)) !important;
    border-radius: 4px !important; }