/* Remove Blur & Wallpaper Background */
[class*="appdetailssoundtrack_BackgroundContainer_"] [class*="appdetailssoundtrack_BackgroundBlurArt_"] {
   background-image: none !important;
    -webkit-mask-image: none !important;
}

/* Background */
[class*="appdetailssoundtrack_SoundtrackPanel_"], [class*="library_AppDetailsTransitionGroup_"] {
    background: var(--musicbg) !important;
}

/* Soundtrack Big List Background */
[class*="appdetailssoundtrack_SoundtrackContainer_"] [class*="appdetailssoundtrack_Content_"] [class*="appdetailssoundtrack_RightColumn_"] {
    background: none !important;
}

/* Soundtrack List Background */
[class*="appdetailssoundtrack_SoundtrackContainer_"] [class*="appdetailssoundtrack_Content_"] [class*="appdetailssoundtrack_RightColumn_"] [class*="appdetailssoundtrack_TrackListContainer_"] {
    background: var(--musiclist) !important;
    border-radius: var(--Corner0) !important;
}

/* Disc Number Background */
[class*="appdetailssoundtrack_SoundtrackContainer_"] [class*="appdetailssoundtrack_Content_"] [class*="appdetailssoundtrack_RightColumn_"] [class*="appdetailssoundtrack_TrackListContainer_"] [class*="appdetailssoundtrack_Disc_"] {
    background: none !important;
}

/* Artwork Image Corners */
[class*="appdetailssoundtrack_SoundtrackContainer_"] [class*="appdetailssoundtrack_Content_"] [class*="appdetailssoundtrack_LeftColumn_"] [class*="appdetailssoundtrack_AlbumArt_"] {
    border-radius: var(--Corner0) !important;
}

/* Song Number */
[class*="appdetailssoundtrack_SoundtrackContainer_"] [class*="appdetailssoundtrack_Content_"] [class*="appdetailssoundtrack_RightColumn_"] [class*="appdetailssoundtrack_TrackListContainer_"] [class*="appdetailssoundtrack_TrackListing_"]:hover [class*="appdetailssoundtrack_TrackNumber_"] {
    background: none !important;
}

/* Song Hover Background */
[class*="appdetailssoundtrack_SoundtrackContainer_"] [class*="appdetailssoundtrack_Content_"] [class*="appdetailssoundtrack_RightColumn_"] [class*="appdetailssoundtrack_TrackListContainer_"] [class*="appdetailssoundtrack_TrackListing_"]:hover {
    background: var(--libraryhome) !important;
    border-radius: var(--Corner0) !important;
}
