/* Left Background */
[class*="pagedsettings_PagedSettingsDialog_PageListColumn_"] {
    background: var(--darkgrey) !important;
}

/* Right Background */
.DialogContent, .DialogContentTransition {
    background: var(--darkgrey) !important;
}

/* Top Line */
.ModalPosition_TopBar {
    background: var(--libraryhome) !important;
}

/* Properties Game Title */
[class*="pagedsettings_PagedSettingsDialog_Title_"] {
    color: var(--libraryhome) !important;
}

/* GENERAL */
/* Background Check Boxes */
[class*="appproperties_AppProperties_"] [class*="appproperties_Checkbox_"] {
    background: transparent !important;
}

/* Search Box */
.DialogTextInputBase {
    background: var(--blacker) !important;
}

.DialogTextInputBase:focus {
    background: var(--blacker) !important;
}

.DialogTextInputBase:not(disabled):hover {
    background: var(--libraryhome) !important;
}

.DialogTextInputBase:disabled:hover {
    background: var(--blacker) !important;
}

/* Storage Available Text Color */
[class*="appproperties_AppProperties_"] [class*="appproperties_Page_"] [class*="appproperties_BlueHighlight_"] {
    color: var(--libraryhome) !important;
}

/* Dropdown Menu Button Background */
.ModalDialogPopup .DialogDropDown {
    background: var(--blacker) !important;
}

/* UPDATES */
/* Dropdown Menu Background */
[class*="dropdown_DialogDropDownMenu_"]._DialogInputContainer {
    background: var(--blacker) !important;
}

/* Dropdown Menu List Hover */
[class*="dropdown_DialogDropDownMenu_Item_"]:hover {
    background: var(--grey) !important;
    border-radius: 4px !important;
}

/* UPDATES */
/* Background All Buttons */
button.DialogButton {
    background: var(--buttonbg2) !important;
}

button.DialogButton:not(disabled):hover {
    background: var(--libraryhome) !important;
}

/* CONTROLLER */
/* Background Color List */
[class*="appproperties_AppProperties_"] [class*="appproperties_Page_"] [class*="appproperties_SteamInputStatusGrid_"] {
    background-color: transparent !important;
}

/* Text Color List */
[class*="appproperties_AppProperties_"] [class*="appproperties_Page_"] [class*="appproperties_SteamInputStatus_"] {
    color: white !important;
}

/* DLC */
/* Background Order Row */
[class*="appproperties_AppProperties_"] [class*="appproperties_Page_"] [class*="appproperties_DlcGrid_"] [class*="appproperties_DlcHeader_"] {
    background: transparent !important;
}

[class*="appproperties_AppProperties_"] [class*="appproperties_Page_"] [class*="appproperties_DlcGrid_"] [class*="appproperties_DlcHeader_"]:hover {
    background: transparent !important;
}

/* WHAT'S NEW */
/* Main Background */
[class*="libraryhomenewupdates_WhatsNewSettingsContainer_"] {
    background: var(--darkgrey) !important;
}

/* Categories Background */
[class*="libraryhomenewupdates_WhatsNewSettings_"] ._DialogInputContainer, ._DialogInputContainer[class*="libraryhomenewupdates_WhatsNewPriorityContainer_"] {
    background: var(--blacker) !important;
    border-radius: 8px !important;
}

/* Toggle Background */
[class*="toggle_Toggle_"] [class*="toggle_ToggleRail_"] {
    background-color: var(--darkgrey) !important;
    border-radius: 8px !important;
    top: 0 !important;
    height: 16px !important;
}


[class*="toggle_Toggle_"] [class*="toggle_ToggleRail_"][class*="toggle_Highlight_"] {
    background-color: var(--darkgrey) !important;
}

/* Toggle Image */
[class*="toggle_Toggle_"] {
  background: var(--darkgrey) !important;
  border-radius: 8px !important;
}

/* Toggle Image */
[class*="toggle_Toggle_"] [class*="toggle_ToggleSwitch_"][class*="toggle_On_"] {
  background-color: var(--libraryhome) !important;
  background-image: none !important;
}


/* DOWNLOADS PAGE PROPERTIES (NEW) */
/* Downloads properties background */
[class*="contentmanagement_ContentManagement_"] {
    background: var(--downloadspagetop) !important;
}

/* Downloads properties top background */
[class*="contentmanagement_LibraryContent_"] {
    background: var(--downloadspagebg) !important;
}

/* Downloads properties footer background */
[class*="contentmanagement_AppActionBar_"] {
    background: var(--downloadspagebg) !important;
}

/* Donwloads disk section radius */
[class*="contentmanagement_IsSelected_"] {
    border-top: 1px solid var(--libraryhome) !important;
    border-top-left-radius: var(--Corner1) !important;
    border-top-right-radius: var(--Corner1) !important;
}

/* Footer button radius */
button.DialogButton:disabled {
    border-radius: var(--Corner1) !important;
}

/* Footer button hover color */
button.DialogButton:disabled:hover {
    border-radius: var(--Corner1) !important;
    color: var(--white) !important; 
}

/* Download properties settings button */
[class*="contentmanagement_DriveSettingsButton_"], [class*="contentmanagement_DriveSettingsButton_"]:hover {
    background-color: none !important;
}

/* Remove divider */
[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppHeader_"] [class*="contentmanagement_Rule_"] {
    display: none !important;
}

/* Reposition text after divider */
[class*="appgrid_SortingDropDown_"] {
    margin-left: 10px !important;
    margin-top: 5px !important;
}

/* Background game list hover */ 
[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppBody_"]:hover {
    background: var(--downloadspagetop) !important;
    border-radius: var(--Corner1) !important;
    margin-bottom: 3px !important;
}
