@import url('https://aikomidori.github.io/steam-library/css/Scrollbar.css');
/* ------------------SIDEBAR GAME LIST------------------ */

/* Sidebar Background */
.gamelistbar_Container_3x1Hk {
  background-color: var(--black) !important;
  background-image: none !important;
}

/* Sidebar Header Background */
.gamelistbar_GameListHomeAndSearch_2TKEa {
  display: var(--LibraryButton) !important;
  background-color: var(--black) !important;
}

.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx .SVGIcon_Home {
  fill: var(--libraryhome) !important;
  transition: .8s !important;
}

.gamelisthome_Bar_3pSPl .SVGIcon_Home {
  transition: 1s !important;
}

.gamelistentry_Container_2-O4Z .gamelistentry_GameListEntryContainer_1vO6B {
  margin-left: 12px !important;
}

.gamelistsectionheader_Container_2sYIg.gamelistsectionheader_HoverOverlay_2zGph {
  background-color: var(--darkgrey) !important;
}

.gamelistentry_FriendIsPlaying_cNZ3w {
  width: 15px !important;
  height: 15px !important;
  left: -23px !important;
}

.gamelistsearchbar_Container_20QAC .DialogInput_ClearAction, .gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchFilterInputClear_38tIM {
  width: 20px !important;
  height: 20px !important;
  top: 6px !important;
}

.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx .gamelisthome_CollectionIconBox_2tyaV {
  background-color: var(--libraryhome) !important;
}

.gamelisthome_CollectionIcon_nC-pL .gamelisthome_CollectionIconBox_2tyaV.gamelisthome_CollectionIcon_nC-pL .gamelisthome_CollectionIconBox_2tyaV {
  background: var(--libraryhome) !important;
}

.gamelisthome_CollectionIcon_nC-pL .gamelisthome_CollectionIconBox_2tyaV {
  background: var(--white) !important;
}

.gamelistsectionheader_SectionHeaderContent_3cV3O:hover .gamelistsectionheader_SectionName_2mZ8L {
  color: var(--titlenamehover) !important;
}

/* Sidebar Minimum Width */
.library_LeftListSizableContainer_9sPoV {
  min-width: 272px !important;
}

/* Removes Sidebar Header Shadow Image */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_HeaderListFadeTop_2_ts8 {
  display: none;
}

/* Removes Sidebar Game Icons */
.gamelistentry_Container_2-O4Z .gamelistentry_GameIcon_ga1hy {
  display: var(--GameIcons) !important;
  height: 17px !important;
  width: 17px !important;
}

/* Tile Name Hover color */
.gamelistsectionheader_SectionName_2mZ8L:hover {
  color: var(--titlenamehover) !important;
}

/* Game Page Header Background */
.libraryhome_UpdatesContainer_17uE {
  background: var(--darkgrey) !important;
}

/* Removes Sidebar Divider */
.library_LibraryWindowDivider_276E6 {
  display: none;
}

/* Sidebar Searchbar Filter Button */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY {
  border-radius: var(--Corner2) !important;
  margin-left: 10px;
  background-color: var(--darkgrey) !important;
}

/* Sidebar Searchbar */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY:hover {
  border-radius: var(--Corner2) !important;
  margin-left: 10px;
}

/* Sidebar Searchbar Color */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase {
  background: var(--darkgrey) !important;
  border-radius: var(--Corner3) !important;
  padding-right: 20px !important;
  padding-left: 10px !important;
}

/* Sidebar Searchbar Hover Color */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase:hover {
  background: var(--darkgrey) !important;
  border-radius: var(--Corner3) !important;
  padding-right: 20px !important;
  padding-left: 10px !important;
}

/* Sidebar Searchbar Position */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogInput_Wrapper {
  margin-left: 5px !important;
}

/* Home Button */
.gamelisthome_Bar_3pSPl {
  border-radius: var(--Corner0) !important;
  margin-left: 10px !important;
  background-color: var(--BackgroundColor) !important;
  border: 1px solid transparent !important;
  letter-spacing: var(--LetterSpacing) !important;
}

/* Filter Button + Background */
.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m {
  border-radius: var(--Corner0) !important;
  background-color: var(--darkgrey) !important;
}

/* Filter Button + Background Hover */
.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m:hover {
  background-color: var(--darkgrey) !important;
}

/* Filter Back To Top Button */
.gamelistdropdown_ScrollToTop_uE7Pj.gamelistdropdown_Visible_rkfSf {
  margin-left: 5px !important;
  border-radius: var(--Corner2) !important
}

/* Filter Button Position */
.gamelistdropdown_Bar_1ZS_x {
  margin-top: -5px !important;
  border-top: 0px;
  border-radius: var(--Corner2) !important;
  margin-left: 5px;
}

.gamelistdropdown_ScrollToTop_uE7Pj .SVGIcon_Arrow {
  border: 0px !important;
}

.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m {
  border: 0px !important;
}

/* Sidebar Catogory Name Position */
.gamelist_Container_1ijTa .ReactVirtualized__Grid {
  margin-left: 0px !important;
}

/* Sidebar Catogory Name Lines */
.gamelistsectionheader_SectionRule_1PxXc {
  display: none !important;
}

/* Sidebar Catogory Name Selected */
.gamelistsectionheader_Container_2sYIg.gamelistsectionheader_Selected_sXMOs {
  background-color: var(--titlehover) !important;
}

.gamelistsectionheader_Container_2sYIg {
  background: transparent !important;
}

/* Sidebar Game Name Hover */
.gamelistentry_Container_2-O4Z:hover, .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
  background-color: var(--gamelist) !important;
  transition: 0s !important;
}

/* Sidebar Game Name Selected */
.gamelistentry_Selected_1UBpA {
  background-color: var(--gamelist) !important;
  color: var(--white) !important;  
}

.gamelistentry_Container_2-O4Z.gamelistentry_Updating_1LVQp {
  color: var(--white) !important;
}

.gamelistentry_Container_2-O4Z .gamelistentry_GameListEntryContainer_1vO6B .gamelistentry_DownloadProgress_3uk3F {
  color: var(--pending) !important;
}

.gamelistentry_AppIconDownloading_2kzMb svg circle {
  stroke: var(--pending) !important;
}

/* Sidebar Game Name Selected Hover */
.gamelistentry_Container_2-O4Z.gamelistentry_Selected_1UBpA:hover, .gamelistentry_Container_2-O4Z.gamelistentry_Selected_1UBpA.gamelistentry_HoverOverlay_3cMVy {
  background: var(--gamelist) !important;
}

.contextmenu_contextMenu_PP7LM {
  background: var(--grey) !important;
  border-radius: var(--Corner0) !important;
  margin-left: 0px !important;
  padding: 2px !important;
  margin-top: 5px !important;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY .gamelistsearchbar_AdvancedSearchPaneContainer_1dgAM.gamelistsearchbar_Visible_1v65x .gamelistsearchbar_AdvancedSearchPane_Woh0k:before {
  display: none !important;
}

.appfilterpane_Container_170Np .appfilterpane_FilterArea_1ennW .appfilterpane_FilterBucket_1axoi .DialogInput_Wrapper .DialogTextInputBase {
  background: var(--grey) !important;
}

.appfilterpane_Container_170Np .appfilterpane_FilterArea_1ennW .appfilterpane_FilterBucket_1axoi .DialogInput_Wrapper .DialogTextInputBase:hover {
  background: var(--grey) !important;
}

.appfilterpane_Container_170Np .appfilterpane_SaveButton_1bqGA:disabled, .appfilterpane_Container_170Np .appfilterpane_SaveButton_1bqGA:disabled:hover {
  background: var(--darkgrey) !important;
  border-radius: var(--Corner0) !important;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY.gamelistsearchbar_Extended_31r1_ {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY .gamelistsearchbar_AdvancedSearchPane_Woh0k {
  background-color: var(--black) !important;
  box-shadow: 1px 1px 5px 1px var(--black) !important;
  margin-left: 10px !important;
}

.gamelisthome_Label_3O48L {
  visibility: hidden !important;
  font-size: 0px !important;
}

.gamelisthome_Label_3O48L::before {
  font-size: var(--FontSize) !important;
  content: var(--YourLibraryName) !important;
  font-weight: bold !important;
  transition-duration: .3s !important;
  transition-property: color !important;
  text-transform: var(--FontStyle) !important;
  font-family: var(--Font) !important;
  visibility: visible !important;
  display: block !important;
  margin-top: 15px !important;
  letter-spacing: var(--LetterSpacing) !important;
}

.gamelisthome_Selected_eNLOx .gamelisthome_Label_3O48L {
  visibility: hidden !important;
  font-size: 0px !important;
}

.gamelisthome_Bar_3pSPl .gamelisthome_Icon_1ooRO {
  height: 120% !important;
}

.gamelistbar_GameListHomeAndSearch_2TKEa .gamelistbar_HomeBox_3AhYl {
  border-radius: var(--Corner0) !important
}

.gamelisthome_Selected_eNLOx .gamelisthome_Label_3O48L::before {
  font-size: var(--FontSize) !important;
  transition-delay: .2s !important;
  transition-duration: .2s !important;
  transition-property: color !important;
  color: var(--libraryhome) !important;
  content: var(--YourLibraryName) !important;
  font-weight: bold !important;
  text-transform: var(--FontStyle) !important;
  font-family: var(--Font) !important;
  visibility: visible !important;
  display: block !important;
  margin-top: 0px !important;
  letter-spacing: var(--LetterSpacing) !important;
}

.collapseicon_CollapseIconParent_ehAsU .collapseicon_Container_3SFRZ {
stroke: var(--white) !important;
}

.gamelistsectionheader_SectionHeaderContent_3cV3O {
  color: var(--libraryhome) !important
}

.gamelistsectionheader_SectionCount_29ute {
  color: var(--white) !important
}

.gamelistsectionheader_SectionHeaderContent_3cV3O svg {
  display: none !important;
}

.collapseicon_Container_3SFRZ .SVGIcon_PlusCircle {
  width: 30px !important;
  margin-left: 0px !important;
}

.gamelistentry_Container_2-O4Z.gamelistentry_Uninstalled_5YTBr:hover, .gamelistentry_Container_2-O4Z.gamelistentry_Uninstalled_5YTBr.gamelistentry_HoverOverlay_3cMVy {
  color: var(--gamehover) !important; 
}

.gamelistentry_Container_2-O4Z.gamelistentry_Selected_1UBpA.gamelistentry_Updating_1LVQp {
  color: var(--white) !important; 
}

.gamelistentry_AppIconDownloading_2kzMb {
  display: var(--GameIcons) !important;
}

.gamelistentry_FriendIsPlaying_cNZ3w {
  display: var(--FriendInGameIcon) !important;
}

.gamelistentry_Container_2-O4Z .gamelistentry_GameListEntryContainer_1vO6B {
  margin-left: var(--FriendInGameIconPosition) !important;
}

.gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z :hover, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z :hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
  background-color: var(--gamelist) !important;
}


/* NEW CHANGES */

.gamelistsearchbar_Container_20QAC {
  display: var(--LibrarySearch) !important;
}
