@import url('https://aikomidori.github.io/steam-library/libraryroot.custom.css');
@import url('https://aikomidori.github.io/steam-library/css/Scrollbar.css');
/* ------------------SIDEBAR GAME LIST------------------ */

/* Sidebar Background */
.gamelistbar_Container_3x1Hk {
    background-color: rgb(var(--grey)) !important;
  }
  
  /* Sidebar Header Background */
  .gamelistbar_GameListHomeAndSearch_2TKEa {
    background-color: rgb(var(--grey)) !important;
  }
  
  /* Removes Sidebar Header Shadow Image */
  .gamelistsearchbar_Container_20QAC .gamelistsearchbar_HeaderListFadeTop_2_ts8 {
    display: none;
  }

  /* Removes Sidebar Game Icons */
  .gamelistentry_Container_2-O4Z .gamelistentry_GameIcon_ga1hy {
    display: var(--GameIcons) !important;
}

  /* Game Page Header Background */
  .libraryhome_UpdatesContainer_17uE {
    background: rgb(var(--darkgrey)) !important;
  }
  
  /* Filter Button Position */
  .gamelistdropdown_Bar_1ZS_x {
    border-top: 0px;
    margin-left: 5px !important;
  }
  
  /* Removes Sidebar Divider */
  .library_LibraryWindowDivider_276E6 {
    display: none;
  }
  
  /* Sidebar Searchbar Filter Button */
  .gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY {
    border-radius: 20px;
    margin-left: 10px;
    background-color: rgb(var(--darkgrey)) !important;
  }
  
  /* Sidebar Searchbar */
  .gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY:hover {
    border-radius: 20px;
    margin-left: 10px;
  }
  
  /* Sidebar Searchbar Color */
  .gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase {
    background: rgb(var(--darkgrey)) !important;
  }
  
  /* Sidebar Searchbar Hover Color */
  .gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase:hover {
    background: rgb(var(--black)) !important;
  }
  
  /* Sidebar Searchbar Position */
  .gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogInput_Wrapper {
    margin-left: 5px !important;
  }
  
  /* Home Button */
  .gamelisthome_Bar_3pSPl {
    border-radius: 4px !important;
    margin-left: 10px !important;
    background-color: rgb(var(--darkgrey)) !important;
    border: 1px solid transparent !important;
  }
  
  /* Filter Button + Background */
  .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m {
    border-radius: 4px;
    background-color: rgb(var(--darkgrey)) !important;
  }
  
  /* Filter Button + Background Hover */
  .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m:hover {
    background-color: rgb(var(--black)) !important;
  }
  
  /* Filter Back To Top Button */
  .gamelistdropdown_ScrollToTop_uE7Pj.gamelistdropdown_Visible_rkfSf {
    margin-left: 5px !important;
    border-radius: 20px !important;
  }
  
  /* Filter Back To Top Button */
  .gamelistdropdown_Bar_1ZS_x {
    border-radius: 20px;
    margin-left: 5px;
  }
  
  /* Sidebar Catogory Name Position */
  .gamelist_Container_1ijTa .ReactVirtualized__Grid {
    margin-left: 0px !important;
  }
  
  /* Sidebar Catogory Name Lines */
  .gamelistsectionheader_SectionRule_1PxXc {
    display: none !important;
  }
  
  /* Sidebar Catogory Name Selected */
  .gamelistsectionheader_Container_2sYIg.gamelistsectionheader_Selected_sXMOs {
    background-color: rgb(var(--black)) !important;
  }
  
  /* Sidebar Game Name Hover */
  .gamelistentry_Container_2-O4Z:hover, .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
    background-color: rgb(var(--darkgrey)) !important;
    transition: background-color 0s !important;
  }
  
  /* Sidebar Game Name Selected */
  .gamelistentry_Selected_1UBpA {
    background-color: rgb(var(--darkgrey)) !important;
  }
  
  /* Sidebar Game Name Selected Hover */
  .gamelistentry_Container_2-O4Z.gamelistentry_Selected_1UBpA:hover, .gamelistentry_Container_2-O4Z.gamelistentry_Selected_1UBpA.gamelistentry_HoverOverlay_3cMVy {
    background: rgb(var(--black)) !important;
  }