/* MODIFICATIONS DOWN BELOW */

:root { /* COLORS */

    --black: #151515; /* Black color */
    --darkgrey: #1e1e1f; /* Dark grey color */
    --grey: #2e2e2f; /* Grey color */
    --lightgrey: #3e3e3f; /* Light grey color */
    --white: #ffffff; /* White color */
    --scrollbar: #6624e2; /* Scrollbar color */
    --backdropblur: #3e3e3e3e; /* Blur color */
    --libraryhome: #6624e2; /* Main library color */
    --progressbar: #6624e2; /* Progressbar color */
    --gamelist: #6624e2; /* Gamelist selected color */
    --titlehover: #00000000; /* Title hover color */
    --gamehover: #ffffff; /* Game hover color */
    --textcolor: #6624e2; /* Text color */
    --offline: #919191; /* Offline avatar color */
    --ingame: #90ba3c; /* Ingame avatar color */
    --online: #5db2fe; /* Online avatar color */

}

:root { /* MODIFICATIONS */

    /*************************/
    /* SET LIBRARY TEXT PART */
    /*************************/
    --FontSize: 15px; /* The size of the font */
    --Font: "Motiva Sans", Arial, Helvetica, sans-serif;; /* Any font on the system */
    --FontStyle: uppercase; /* Set to [lowercase | uppercase | none ] */
    --LetterSpacing: 3px !important; /* Set 3px or more ] */
    --YourLibraryName: "YOUR LIBRARY" !important; /* Set your own library name */
    --BackgroundColor: transparent; /* Button background color */
    

    /**********************/
    /* LIBRARY CATEGORIES */
    /**********************/
    --WhatsNew: block; /* Set to [none | block ] */
    --Recent: block; /* Set to [none | block ] */


    /**************/
    /* GAME ICONS */
    /**************/
    --GameIcons: none; /* Set to [none | block ] */


    /**********************************/
    /* BLUR AMOUNT ( Lower > Better ) */
    /**********************************/
    /* Blur turned off by default, to turn on; set FlatColor to none, and switch everything on. */
    --FlatColor: #1e1e1f; /* Set to [none | color ] */
    --FuckBlur: blur(0px); /* Set to [0px | Low PC ( 10px ) | High PC ( > 20px ) */
    --BackgroundBlur: none; /* Set to [none | flex ] */
    --ImageBlur: hidden; /* Set to [hidden | visible ] */


    /******************************/
    /* GAME COVER EFFECTS #HOVER# */
    /******************************/
    --CoverHover: show; /* Set to [ show | hide ] */


    /**********************/
    /* INGAME FRIEND ICON */
    /**********************/
    --FriendInGameIcon: none; /* Set to [block | none ] */
    --FriendInGameIconPosition: -12px;  /* Position $BETTER NOT EDIT$ */


    /*********************/
    /* BUTTON BAR COLORS */
    /*********************/
    --ButtonPlay: var(--libraryhome); /* Play button color shade 1 */
    --ButtonPlay2: var(--libraryhome); /* Play button color shade 2 */
    --ButtonPlayHover: #70d61d; /* Play button hover color shade 1 */
    --ButtonPlayHover2: #01a75b; /* Play button hover color shade 2 */
    
    --ButtonInstall: var(--libraryhome); /* Install button color shade 1 */
    --ButtonInstall2: var(--libraryhome); /* Install button color shade 2 */
    --ButtonInstallHover: #47bfff; /* Install button hover color shade 1 */
    --ButtonInstallHover2: #1a44c2; /* Install button hover color shade 2 */
    
}

/* ===== CREDITS  =====
/* SHIINA♪
/* DISCORD: https://discord.gg/UZvkvkh
/* GITHUB: https://github.com/AikoMidori/
/* -------------------------------------------------------------------------------------------
/* © 2019 All Rights Reserved. Created by Shiina♪
/**/