@import url('https://aikomidori.github.io/steam-library/libraryroot.custom.css');

.LibraryDisplaySizeSmall .libraryhome_UpdatesContainer_17uEB {
    display: var(--WhatsNew) !important;
    height: 300px !important;
}

.libraryhome_LibraryHomeSection_1NCHR {
    display: var(--Recent) !important;
}