/* Remove Blur & Wallpaper Background */
.appdetailssoundtrack_BackgroundContainer_26bNl .appdetailssoundtrack_BackgroundBlurArt_3JZ9b {
   background-image: none !important;
    -webkit-mask-image: none !important;
}

/* Background */
.appdetailssoundtrack_SoundtrackPanel_23zCI, .library_AppDetailsTransitionGroup_2Dd4T {
    background: var(--musicbg) !important;
}

/* Soundtrack Big List Background */
.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_RightColumn_1s3Ep {
    background: none !important;
}

/* Soundtrack List Background */
.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_RightColumn_1s3Ep .appdetailssoundtrack_TrackListContainer_1Rrhq {
    background: var(--musiclist) !important;
    border-radius: var(--Corner0) !important;
}

/* Disc Number Background */
.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_RightColumn_1s3Ep .appdetailssoundtrack_TrackListContainer_1Rrhq .appdetailssoundtrack_Disc_17Yl1 {
    background: none !important;
}

/* Artwork Image Corners */
.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_LeftColumn_23WS1 .appdetailssoundtrack_AlbumArt_1R0eE {
    border-radius: var(--Corner0) !important;
}

/* Song Number */
.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_RightColumn_1s3Ep .appdetailssoundtrack_TrackListContainer_1Rrhq .appdetailssoundtrack_TrackListing_2c5PP:hover .appdetailssoundtrack_TrackNumber_NZZPO {
    background: none !important;
}

/* Song Hover Background */
.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_RightColumn_1s3Ep .appdetailssoundtrack_TrackListContainer_1Rrhq .appdetailssoundtrack_TrackListing_2c5PP:hover {
    background: var(--libraryhome) !important;
    border-radius: var(--Corner0) !important;
}