::-webkit-scrollbar{
  background-color: transparent !important;
  border-radius: 0 !important;
  width:18px !important;
  -webkit-box-shadow: none !important;
}

.ReactVirtualized__List:hover::-webkit-scrollbar-thumb,
.gamelist_Container_1ijTa:hover::-webkit-scrollbar-thumb {
  background: var(--scrollbar) !important;
  background-clip: padding-box!important;
  -webkit-box-shadow: none !important;
  border: 5px solid transparent !important;
}

.ReactVirtualized__List:hover::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar) !important;
  background-clip: padding-box!important;
  -webkit-box-shadow: none !important;
  border: 5px solid transparent !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar) !important;
}

.ReactVirtualized__List::-webkit-scrollbar-thumb {
  background: transparent !important;
  border: 5px solid transparent !important;
  -webkit-box-shadow: none !important;
  border-radius: var(--Corner1) !important;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar) !important;
  border: 5px solid transparent !important;
  background-clip: padding-box !important;
  -webkit-box-shadow: none !important;
  border-radius: var(--Corner1) !important;
}

.ReactVirtualized__List::-webkit-scrollbar-track {
  background: var(--black) !important;
  border-radius: 0 !important;
}

.ReactVirtualized__Grid::-webkit-scrollbar {
  background-color: transparent!important;
  -webkit-box-shadow: none !important;
}

.library_LeftListSizableContainer_9sPoV::-webkit-scrollbar:horizontal {
  background-color: transparent!important;
  -webkit-box-shadow: none !important;
}

::-webkit-scrollbar-track {
  background: var(--librarybg) !important;
  border-radius: 0 !important;
}

::-webkit-scrollbar-corner{
  border: 0 solid var(--librarybg) !important;
  background-color: var(--librarybg) !important;
}