/* MODIFICATIONS DOWN BELOW */

:root { /* COLORS */

  --black: #151515; /* Black color */
  --darkgrey: #1E1E1F; /* Dark grey color */
  --grey: #2E2E2F; /* Grey color */
  --lightgrey: #3E3E3F; /* Light grey color */
  --white: #FFFFFF; /* White color */
  --scrollbar: #6624E2; /* Scrollbar color */
  --backdropblur: #3E3E3E3E; /* Blur color */
  --libraryhome: #6624E2; /* Main library color */
  --progressbar: #6624E2; /* Progressbar color */
  --gamelist: #6624E2; /* Gamelist selected color */
  --titlehover: #00000000; /* Title hover background color */
  --titlenamehover: #6624E2; /* Gamelist title hover name color */
  --gamehover: #FFFFFF; /* Game hover color */
  --textcolor: #6624E2; /* Text color */
  --offline: #919191; /* Offline avatar color */
  --ingame: #90BA3C; /* Ingame avatar color */
  --online: #5DB2FE; /* Online avatar color */

}

:root { /* MODIFICATIONS */

  /*************************/
  /* SET LIBRARY TEXT PART */
  /*************************/
  --FontSize: 15px; /* The size of the font */
  --Font: "Motiva Sans", Arial, Helvetica, sans-serif;; /* Any font on the system */
  --FontStyle: uppercase; /* Set to [lowercase | uppercase | none ] */
  --LetterSpacing: 3px !important; /* Set 3px or more ] */
  --YourLibraryName: "YOUR LIBRARY" !important; /* Set your own library name */
  --BackgroundColor: transparent; /* Button background color */


  /**********************/
  /* LIBRARY CATEGORIES */
  /**********************/
  --WhatsNew: block; /* Set to [none | block ] */
  --Recent: block; /* Set to [none | block ] */
  --TitleColor: var(--textcolor); /* Catagorie title color */
  --TitleFont: 500; /* Set to [1 > 1000 ] */


  /**************/
  /* GAME ICONS */
  /**************/
  --GameIcons: none; /* Set to [none | block ] */


  /**********************************/
  /* BLUR AMOUNT ( Lower > Better ) */
  /**********************************/
  /* Blur turned off by default, to turn on; set FlatColor to none, and switch everything on. */
  --FlatColor: #1E1E1F; /* Set to [none | color ] */
  --FuckBlur: blur(0px); /* Set to [0px | Low PC ( 10px ) | High PC ( > 20px ) ] */
  --BackgroundBlur: none; /* Set to [none | flex ] */
  --ImageBlur: hidden; /* Set to [hidden | visible ] */
  --ImageHeight: 320px; /* Set to [0px > 462px ] */


  /******************************/
  /* GAME COVER EFFECTS #HOVER# */
  /******************************/
  --CoverHover: show; /* Set to [ show | hide ] */


  /**********************/
  /* INGAME FRIEND ICON */
  /**********************/
  --FriendInGameIcon: none; /* Set to [block | none ] */
  --FriendInGameIconPosition: -12px; /* Position $BETTER NOT EDIT$ */


  /*********************/
  /* BUTTON BAR COLORS */
  /*********************/
  --ButtonPlay: var(--libraryhome); /* Play button color shade 1 */
  --ButtonPlay2: var(--libraryhome); /* Play button color shade 2 */
  --ButtonPlayHover: #70D61D; /* Play button hover color shade 1 */
  --ButtonPlayHover2: #01A75B; /* Play button hover color shade 2 */

  --ButtonInstall: var(--libraryhome); /* Install button color shade 1 */
  --ButtonInstall2: var(--libraryhome); /* Install button color shade 2 */
  --ButtonInstallHover: #47BFFF; /* Install button hover color shade 1 */
  --ButtonInstallHover2: #1A44C2; /* Install button hover color shade 2 */

}

/* ------------------GAME PAGES------------------ */

/* Beta Button */
.libraryhome_BetaBar_1HcmY {
  margin-top: 5px !important;
  margin-right: 30px !important;
  border-radius: 30px !important;
  background: var(--lightgrey) !important;
}

/* Removes Play Button Glow */
.appdetailsoverview_Glassy_2OOzY > div {
  z-index: -1 !important;
}

.appactivityday_PartnerEvent_1AYE1 {
  border: 0x !important;
  border-image-source: none !important;
  background: var(--backdropblur) !important;
}

.appactivityday_Event_UVeN0 {
  border-radius: 4px !important;
  background: var(--backdropblur) !important;
  padding-left: 5px !important;
}

.appactivityday_PartnerEventMediumImage_Container_1HZy7:hover {
  background: none;
}

.steamavatar_friendavatar_xXwx9 {
  margin-top: 3px !important;
  margin-left: 5px !important;
}

.appactivityday_Event_UVeN0:first-child {
  border-radius: 4px !important;
  background: var(--backdropblur) !important;
}

.appactivityday_PartnerEventMediumImage_Container_1HZy7 {
  background: none !important;
}

.appactivityday_ScreenshotCaption_23HTp.appactivityday_HasCaption_tLc3y, .appactivityday_VideoTitle_1d0ij.appactivityday_HasCaption_tLc3y {
  background-image: none !important;
  border-bottom-left-radius: 4px !important;
  backdrop-filter: blur(50px)
}

/* Blurs The Backgrounds */
.appdetailsoverview_Container_27RcN {
  backdrop-filter: var(--FuckBlur) !important;
  background: var(--FlatColor) !important;
  display: block !important;
}

/* Blurs The Backgrounds */
.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_BackdropGlass_Jbe-- {
  backdrop-filter: var(--FuckBlur) !important;
  background: var(--FlatColor) !important;
}

/* Changes Blur Color & Depth For Games Page */
.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_ColumnContainer_OhSdL {
  backdrop-filter: blur(0px) !important;
  background: var(--FlatColor) !important;
}

/* Game Page Launch Game Bar */
.appdetailsplaysection_StickyHeader_39Rhe .appdetailsplaysection_Glassy_3DeO9 {
  backdrop-filter: var(--FuckBlur) !important;
  background: var(--FlatColor) !important;
  margin-left: -6px !important;
  border-bottom: 1px solid black !important;
}

.appdetailscommunityfeed_ArtItem_1aP1b .appdetailscommunityfeed_BottomSection_3uabi {
  background: none !important;
  color: #2DB9FF !important;
  backdrop-filter: blur(50px) !important;
}

.appdetailsplaysection_DetailsProgressContainer_25YVD {
  border-radius: 6px !important;
  background-color: var(--grey) !important;
  margin-top: 6px !important;
}

.appdetailsplaysection_DetailsProgressContainer_25YVD .appdetailsplaysection_DetailsProgressBar_1FnTq {
  border-radius: 6px !important;
}

.appdetailsachievementssection_AchievementProgressContainer_3ns91 {
  background-color: var(--darkgrey) !important;
  border-radius: 6px !important;
}

.appdetailsachievementssection_AchievementProgressContainer_3ns91 .appdetailsachievementssection_AchievementProgress_3Rm36 {
  border-radius: 6px !important;
}


.appdetailsplaysection_GameStat_1kiZK .appdetailsplaysection_GameStatIcon_1tIg- {
  margin: 0px !important;
}

/* Hover Over What's New Game */
.libraryhomenewupdates_PartnerEventRowCapsule_Container_B-vCd.libraryhomenewupdates_HoversEnabled_278jF:hover .libraryhomenewupdates_EventSummaryContainer_3Rb_j {
  background-color: transparent !important;
  border-radius: 4px !important;
  backdrop-filter: blur(12px) !important;
}

/* Background Hover Over What's New Game */
.libraryhomenewupdates_PartnerEventRowCapsule_Container_B-vCd .libraryhomenewupdates_PartnerEventRowCapsule_MainImageContainer_SPz0i {
  background-color: transparent !important;
}

/* Game Page Catogory Background */
.collectionview_OuterContainer_2sNr7 {
  background: var(--darkgrey) !important;
}

/* Game Page Background */
.libraryhome_InnerContainer_2AUVZ {
  background: var(--darkgrey) !important;
}

/* Game Page What's New Line */
.pageablecontainer_HeaderPageControls_2ce8e .pageablecontainer_Rule_3kmsu {
  display: none !important;
}

/* Game Page Buttons */
.pageablecontainer_PageClickContainer_3E421 .pageablecontainer_PageLeft_1L7no, .pageablecontainer_PageClickContainer_3E421 .pageablecontainer_PageRight_1qFMs {
  width: 18px !important;
  height: 18px !important;
  padding: 5px !important;
  font-size: 0px !important;
  background: var(--lightgrey) !important;
  border-radius: 40px !important;
}

/* Game Page Game Titles */
.libraryhomenewupdates_GameIconAndName_3_xMy {
  background-color: var(--grey) !important;
  border-radius: 4px !important;
}

/* Game Tags Title Line */
.collectionview_Container_2q70u .collectionview_Header_2rqTS .collectionview_Rule_1grg9 {
  display: none !important;
}

/* Game Page Game Collection Tags */
.gamelistsearchbar_SearchFilterInput_172OF .gamelistsearchbar_FilterTag_3gzh_ {
  background-color: var(--black) !important;
  border-radius: 4px !important;
}

/* Your Collection Page */
.allcollections_ScrollContainer_u1xD3 {
  background: var(--darkgrey) !important;
}

/* Your Collection Page Tile Backgrounds */
.allcollections_Collection_3IWn- {
  background: var(--black) !important;
}

/* Recent Friend Activity Game Images */
.libraryhomefriendsactivity_HeroImageClipper_3RqCl {
  border-radius: 4px;
}

/* Changes Blur Color For Games Page */
.appdetails_ScrollContainer_2l416 {
  background-color: var(--darkgrey) !important;
}

/* Changes Blur Color For Games Page */
.appdetails_Glassy_3Fmxx.appdetails_ScrollContainer_2l416 {
  background-image: radial-gradient(100% 100% at 45% 35%, var(--darkgrey) 0%, var(--darkgrey) 100%) !important;
}

/* Changes Background Game Page Communnity Photos */
.appdetailscommunityfeed_CommunityItem_3QS6O {
  background-color: var(--backdropblur) !important;
}

.comment_thread_ActivityCommentThread_39nna {
  background: transparent !important;
}

.appactivityday_PartnerEventLargeImage_Container_Libri {
  background: transparent !important;
  border: 0px !important;
  border-image-source: none !important;
}

.spotlightgameplaysummary_SummaryCarouselContainer_wgbDI {
  background: transparent !important;
}

.spotlightgameplaysummary_SummaryCarouselContainer_wgbDI:after {
  box-shadow: none !important;
}

.appdetailsspotlight_NewDLCContainer_3Exow {
  background: transparent !important;
}

.appactivityday_PartnerEventLargeImage_Container_Libri:hover {
  background: transparent !important;
}

.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_PostButton_2JSyA {
  background-color: var(--backdropblur) !important;
  border-radius: 4px !important;
}

.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D button.posttextentry_EmoticonButton_bACIu {
  background-color: var(--backdropblur) !important;
  border-radius: 4px !important;
}

.posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2 {
  background: var(--backdropblur) !important;
}

.posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2:focus {
  background: var(--backdropblur) !important;
}

/* Changes Background Game Page Communnity Guide */
.appdetailscommunityfeed_Guide_-85o5 .appdetailscommunityfeed_TopSectionInner_1dJuv {
  background: transparent !important;
}

/* Removes Background Game Page Communnity Photos */
.appdetailscommunityfeed_AuthorSection_1ul9Z {
  background: transparent !important;
  padding: 0px !important;
}

/* Removes Padding Social Background */
.appdetailsprimarylinkssection_LinksSection_3-V8v {
  margin-bottom: 0px !important;
}

/* Removes Image Blur */
.appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_RightColumnSection_3KfxI {
  border: 1px solid transparent !important;
  /* border-image-source: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAACXBIW…ZzXCqnpSlmImI2x2QQKSJm5qJtxuV5CRVFdnby/ODBJ/j/Lba7Vcfad4UAAAAASUVORK5CYII=);
  border-image-width: 1px !important; */
  background: none !important;
}


.appdetailssection_AppDetailsSectionContainer_31ptF {
  z-index: 1 !important;
}


.spotlight_MajorEventContainer_dVJB2 {
  border: 1px solid transparent !important;
  border-image-source: none !important;
}


.spotlight_MajorEventBackground_388Iu {
  border-radius: 10px !important;
}


.spotlight_MajorEventHeader_1HL2n {
  background-color: transparent !important;
}

/* Removes Game Page Social Background */
.appdetailsprimarylinkssection_LinksSection_3-V8v > div {
  background: none !important;
}

/* Removes Game Page Community Header Background */
.appdetailscommunityfeed_HeaderStyles_2lNdD {
  background: none !important;
  color: white !important;
}

/* Removes Play/Install Header Background */
.appdetailsplaysection_Glassy_3DeO9.appdetailsplaysection_PlayBar_3fLo1 {
  background: var(--FlatColor) !important;
}

/* Game Page Content Background */
.appactivityday_Event_UVeN0 .appactivityday_EventBody_NEMXh {
  background: none !important;
  border-radius: 4px !important;
  padding-left: 5px !important;
}

.appdetailsplaysection_StickyHeaderShadow_2_86Q {
  display: none !important;
}

/* Game Page Achievements Background */
.appdetailssection_Highlight_38t1m {
  background: none !important;
}

.appdetailsspotlight_ReviewContainer_3LE-6 {
  background-color: transparent !important;
}

.writereview_RatingContainer_2Jk1D {
  background-color: transparent !important;
}

.appactionbutton_Green_3cI5T > .appactionbutton_ButtonChild_2AzIX {
  background: linear-gradient(to right, var(--ButtonPlay) 0%, var(--ButtonPlay2)) 60% !important;
}

.appactionbutton_Green_3cI5T > .appactionbutton_ButtonChild_2AzIX.appactionbutton_StreamingSelector_2q-gZ {
  background: linear-gradient(to right, var(--ButtonPlayHover) 0%, var(--ButtonPlayHover2)) 100% !important;
}

:not(.appactionbutton_Disabled_1Pb6P) > .appactionbutton_Green_3cI5T > .appactionbutton_ButtonChild_2AzIX:hover {
  background: linear-gradient(to right, var(--ButtonPlayHover) 0%, var(--ButtonPlayHover2)) 100% !important;
}

:not(.appactionbutton_Disabled_1Pb6P) > .appactionbutton_Green_3cI5T > .appactionbutton_ButtonChild_2AzIX:hover svg {
  fill: white !important;
}

.appactionbutton_Green_3cI5T > .appactionbutton_ButtonChild_2AzIX svg {
  fill: white !important;
}

.appactionbutton_ButtonChild_2AzIX {
  background: linear-gradient(to right, var(--ButtonInstall) 0%, var(--ButtonInstall2)) 60% !important;
}

.appactionbutton_ButtonChild_2AzIX {
  background: linear-gradient(to right, var(--ButtonInstall) 0%, var(--ButtonInstall2)) 60% !important;
}

.appactionbutton_ButtonChild_2AzIX.appactionbutton_StreamingSelector_2q-gZ {
  background: linear-gradient(to right, var(--ButtonInstallHover) 0%, var(--ButtonInstallHover2)) 100% !important;
}

:not(.appactionbutton_Disabled_1Pb6P) > .appactionbutton_ButtonChild_2AzIX:hover {
  background: linear-gradient(to right, var(--ButtonInstallHover) 0%, var(--ButtonInstallHover2)) 100% !important;
}

:not(.appactionbutton_Disabled_1Pb6P) > .appactionbutton_ButtonChild_2AzIX svg {
  fill: white !important;
}

:not(.appactionbutton_Disabled_1Pb6P) > .appactionbutton_ButtonChild_2AzIX svg path {
  stroke: white !important;
}

:not(.appactionbutton_Disabled_1Pb6P) > .appactionbutton_ButtonChild_2AzIX svg line, :not(.appactionbutton_Disabled_1Pb6P) > .appactionbutton_ButtonChild_2AzIX svg polygon {
  stroke: white !important;
  fill: white !important;
}

.appdetailsplaysection_DetailsProgressContainer_25YVD .appdetailsplaysection_DetailsProgressBar_1FnTq {
  background-color: var(--progressbar) !important;
}

.appdetailsachievementssection_AchievementProgressContainer_3ns91 .appdetailsachievementssection_AchievementProgress_3Rm36 {
  background-color: var(--progressbar) !important;
}

.sharedappdetailsheader_ImgSrc_HNbe3.sharedappdetailsheader_ImgBlurBackdrop_3_IUV {
  display: var(--BackgoundBlur) !important;
}

.sharedappdetailsheader_TopCapsule_NZMJ6.sharedappdetailsheader_TopCapsule_NZMJ6 {
  overflow: var(--ImageBlur) !important;
}

.sharedappdetailsheader_TopCapsule_NZMJ6.sharedappdetailsheader_TopCapsule_NZMJ6, .sharedappdetailsheader_HeaderBackgroundImage_1IX7F {
  max-height: var(--ImageHeight) !important;
}

/* Game Page Header Background */
.libraryhome_UpdatesContainer_17uEB {
  display: var(--WhatsNew) !important;
  background: var(--darkgrey) !important;
  padding-top: 15px !important;
  padding-bottom: 275px !important;
}

.libraryhome_LibraryHomeSection_1NCHR {
  display: var(--Recent) !important;
}

.appportrait_RecentGameFooter_2d1hS {
  border-radius: 4px !important;
}

.appportrait_LibraryItemBoxShine_MyNb5 {
  transition-property: transform, opacity !important;
  transition-duration: 0.6s !important;
  transition-timing-function: cubic-bezier !important;
  display: var(--CoverHover) !important;
}

.appgrid_SortingDropDownContainer_1ZpBQ > div {
  background: var(--grey) !important;
  border-radius: 4px !important;
  border: 0px !important;
}

.tooltip_TextToolTip_SeaN1 {
  background-color: #151515 !important;
  border-radius: 4px !important;
}

.DialogDropDownMenu._DialogInputContainer {
  background: var(--grey) !important;
  border-radius: 4px !important;
  border: 0px !important;
  margin-top: 4px !important
}

.DialogDropDownMenu._DialogInputContainer {
  background: var(--grey) !important;
  border-radius: 4px !important;
  border: 0px !important;
  margin-top: 4px !important;
}

.appportrait_LibraryItemBox_WYgDg {
  border-top: 1px solid 0, 0, 0, 0.5 !important;
  border-radius: 4px !important;
}

/* Scroll To Top */
.smartscrollcontainer_ScrollToTopButton_1J21t div {
  background: var(--backdropblur) !important;
  border-radius: 20px !important;
  bottom: 5px !important;
  backdrop-filter: blur(50px) !important;
}

.libraryhomenewupdates_PartnerEventRowCapsule_Container_B-vCd .libraryhomenewupdates_EventTimeSpan_3OSZu {
  background-color: var(--backdropfilter) !important;
  backdrop-filter: blur(50px) !important;
  border-radius: 4px !important;
  color: var(--online) !important;
}

.libraryhome_Container_2gSXC {
  background: var(--darkgrey) !important;
}

.offline .steamavatar_avatarStatus_3xUpb.avatarStatus.none {
  display: none !important;
}

.online .steamavatar_avatarStatus_3xUpb.avatarStatus.none {
  display: none !important;
}

.ingame .steamavatar_avatarStatus_3xUpb.avatarStatus.none {
  display: none !important;
}

.snooze .steamavatar_avatarStatus_3xUpb.avatarStatus.none {
  display: none !important;
}

.appportrait_FriendsBar_3dncO .appportrait_IconsRestCount_2JYwp.appportrait_Short_yGeS6 {
  border-radius: 25px !important;
}

.libraryhomeshowcases_CollectionDropDown_1YdRd ._DialogInputContainer, .pageablecontainer_HeaderPageControls_2ce8, .pageablecontainer_HeaderPageControls_2ce8e .pageablecontainer_Name_EckfX {
  color: var(--TitleColor) !important;
  font-weight: var(--TitleFont) !important;
}

.libraryhomeshowcases_CollectionDropDown_1YdRd ._DialogInputContainer .DialogDropDown_Arrow svg {
  fill: var(--TitleColor) !important;
}

.appportrait_LibraryItemActionButton_3AjoL.appportrait_Play_1_Bo2:not(.appportrait_Disabled_1aml4) {
  background: radial-gradient(circle farthest-corner at 50% 50%, var(--ButtonPlay) 0%, var(--ButtonPlay2) 100%) !important;
}

.appportrait_HoversEnabled_54PuC .appportrait_LibraryItemActionButton_3AjoL.appportrait_Play_1_Bo2:not(.appportrait_Disabled_1aml4):hover {
  background: radial-gradient(circle farthest-corner at 50% 50%, var(--ButtonPlayHover) 0%, var(--ButtonPlayHover2) 100%) !important;
}

.appportrait_HoversEnabled_54PuC .appportrait_LibraryItemActionButton_3AjoL.appportrait_Play_1_Bo2:not(.appportrait_Disabled_1aml4):hover:after {
  border-color: white !important;
}

.appportrait_LibraryItemActionButton_3AjoL.appportrait_Play_1_Bo2:not(.appportrait_Disabled_1aml4) .SVGIcon_Play {
  fill: white !important;
}

/* MINI PROFILES*/

/* Changes User Avatar Game Page Communnity Photos */
.steamavatar_avatar_3h-QR {
  border-radius: 60px !important;
  border: 0px !important;
  height: 28px !important;
  width: 28px !important;
}

/* Changes User Miniprofile Avatar */
.miniprofile_miniProfile_2QPdq .steamavatar_avatar_3h-QR {
  border-radius: 60px !important;
  border: 0px !important;
  height: 90px !important;
  width: 90px !important;
}

.miniprofile_miniProfileBackgroundBlur_xUosY {
  display: none !important;
}

.miniprofile_miniProfileBackground_3HzZh {
  background: var(--black) !important;
  border-radius: 4px !important;
}

.miniprofile_miniProfile_2QPdq {
  border: 0px !important;
  border-radius: 0px !important;
}

.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfileHeader_3CZcH {
  background: var(--black) !important;
  border-radius: 4px !important;
}

.miniprofile_miniProfileContent_1xTAT.miniprofile_notInOrWatchingGame_1NkB7 .miniprofile_miniProfileBottom_26ga2,
.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfileGameContainer_7-U6j {
  background: transparent !important;
  top: 10px !important;
}

.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.in-game .miniprofile_personaName_qiP8a:not(.miniprofile_hasNickname_2TAWS) .miniprofile_personaNameLabel_2VUw8,
.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.in-game .miniprofile_personaName_qiP8a.miniprofile_nickName_h_So5 .miniprofile_personaNameLabel_2VUw8 {
  color: var(--ingame) !important;
  border-radius: 4px !important;
}

.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.online .miniprofile_nickname_1SWhp,
.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.online .miniprofile_persona_3c5GO,
.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.online .miniprofile_playerContent_2-pwJ .miniprofile_awayStatusLabel_1FgWI {
  color: var(--online) !important;
  border-radius: 4px !important;
}

.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.miniprofile_online .miniprofile_nickname_1SWhp,
.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.miniprofile_online.online .miniprofile_persona_3c5GO,
.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.miniprofile_online.online .miniprofile_playerContent_2-pwJ .miniprofile_awayStatusLabel_1FgWI {
  color: var(--online) !important;
  border-radius: 4px !important;
}

.online .steamavatar_avatarStatus_3xUpb {
  background: var(--online) !important;
  border-radius: 50px !important;
  width: 30px !important;
  height: 30px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: -1 !important;
}

.ingame .steamavatar_avatarStatus_3xUpb {
  background: var(--ingame) !important;
  border-radius: 50px !important;
  width: 30px !important;
  height: 30px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: -1 !important;
}

.awayOrSnooze .steamavatar_avatarStatus_1Pwr6 {
  background: var(--snooze) !important;
  border-radius: 50px !important;
  width: 30px !important;
  height: 30px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: -1 !important;
}

.golden .steamavatar_avatarStatus_3xUpb {
  border-radius: 50px !important;
  width: 30px !important;
  height: 30px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: -1 !important;
}

.watchingbroadcast .steamavatar_avatarStatus_3xUpb {
  border-radius: 50px !important;
  width: 30px !important;
  height: 30px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: -1 !important;
}

.offline .steamavatar_avatarStatus_3xUpb {
  background: var(--offline) !important;
  border-radius: 50px !important;
  width: 30px !important;
  height: 30px !important;;
  left: -1px !important;
  top: -1px !important;
  z-index: -1 !important;
}

.online .X-Large .steamavatar_avatarStatus_3xUpb {
  background: var(--online) !important;
  border-radius: 50px !important;
  width: 92px !important;
  height: 92px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: 1 !important;
}

.ingame .X-Large .steamavatar_avatarStatus_3xUpb {
  background: var(--ingame) !important;
  border-radius: 50px !important;
  width: 92px !important;
  height: 92px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: 1 !important;
}

.awayOrSnooze .X-Large .steamavatar_avatarStatus_3xUpb {
  background: var(--snooze) !important;
  border-radius: 50px !important;
  width: 92px !important;
  height: 92px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: 1 !important;
}

.golden .X-Large .steamavatar_avatarStatus_3xUpb {
  border-radius: 50px !important;
  width: 92px !important;
  height: 92px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: 1 !important;
}

.watchingbroadcast .X-Large .steamavatar_avatarStatus_3xUpb {
  border-radius: 50px !important;
  width: 92px !important;
  height: 92px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: 1 !important;
}

.offline .X-Large .steamavatar_avatarStatus_3xUpb {
  background: var(--offline) !important;
  border-radius: 50px !important;
  width: 92px !important;
  height: 92px !important;
  left: -1px !important;
  top: -1px !important;
  z-index: 1 !important;
}

/* mini profile  status */

.miniprofile_avatarStatus {
  display: none !important;
}

.miniprofile_miniProfileContent_1xTAT .miniprofile_playerAvatar_36eQg img {
  border-radius: 50px !important;
}

.miniprofile_miniProfileContent_1xTAT .miniprofile_playerAvatar_36eQg {
  border-radius: 50px !important;
}

.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.online .miniprofile_avatarStatus_1YdpX.miniprofile_miniProfileAvatarStatus_1k5Yk {
  background: var(--online) !important;
  border-radius: 4px !important;
}

.miniprofile_miniProfileContent_1xTAT .miniprofile_miniProfilePlayer_2jZ0A.in-game .miniprofile_avatarStatus_1YdpX.miniprofile_miniProfileAvatarStatus_1k5Yk {
  background: var(--ingame) !important;
  border-radius: 4px !important;
}


.appdetailsfriendssection_PlaytimeSection_1s3b9 {
  background: var(--black) !important;
}

::-webkit-scrollbar {
  background-color: transparent !important;
  border-radius: 0px !important;
  width: 18px !important;
  -webkit-box-shadow: none !important;
}

.ReactVirtualized__List:hover::-webkit-scrollbar-thumb,
.gamelist_Container_1ijTa:hover::-webkit-scrollbar-thumb {
  background: var(--scrollbar) !important;
  background-clip: padding-box !important;
  -webkit-box-shadow: none !important;
  border: 5px solid transparent !important;
}

.ReactVirtualized__List:hover::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar) !important;
  background-clip: padding-box !important;
  -webkit-box-shadow: none !important;
  border: 5px solid transparent !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar) !important;
}

.ReactVirtualized__List::-webkit-scrollbar-thumb {
  background: transparent !important;
  border: 5px solid transparent !important;
  -webkit-box-shadow: none !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar) !important;
  border: 5px solid transparent !important;
  background-clip: padding-box !important;
  -webkit-box-shadow: none !important;
  border-radius: 10px !important;
}

.ReactVirtualized__List::-webkit-scrollbar-track {
  background: var(--black) !important;
  border-radius: 0px !important;
}

.ReactVirtualized__Grid::-webkit-scrollbar {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
}

.library_LeftListSizableContainer_9sPoV::-webkit-scrollbar:horizontal {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
}

::-webkit-scrollbar-track {
  background: var(--darkgrey) !important;
  border-radius: 0px !important;
}

::-webkit-scrollbar-corner {
  border: 0px solid var(--darkgrey) !important;
  background-color: var(--darkgrey) !important;
}

/* ------------------SIDEBAR GAME LIST------------------ */

/* Sidebar Background */
.gamelistbar_Container_3x1Hk {
  background-color: var(--black) !important;
}

/* Sidebar Header Background */
.gamelistbar_GameListHomeAndSearch_2TKEa {
  background-color: var(--black) !important;
}

.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx .SVGIcon_Home {
  fill: var(--libraryhome) !important;
  transition: .8s !important;
}

.gamelisthome_Bar_3pSPl .SVGIcon_Home {
  transition: 1s !important;
}

.gamelistentry_Container_2-O4Z .gamelistentry_GameListEntryContainer_1vO6B {
  margin-left: 12px !important;
}

.gamelistsectionheader_Container_2sYIg.gamelistsectionheader_HoverOverlay_2zGph {
  background-color: var(--darkgrey) !important;
}

.gamelistentry_FriendIsPlaying_cNZ3w {
  width: 15px !important;
  height: 15px !important;
  left: -23px !important;
}

.gamelistsearchbar_Container_20QAC .DialogInput_ClearAction, .gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchFilterInputClear_38tIM {
  background-color: red !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 10px !important;
  top: 6px !important;
}

.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx .gamelisthome_CollectionIconBox_2tyaV {
  background-color: var(--libraryhome) !important;
}

.gamelisthome_CollectionIcon_nC-pL .gamelisthome_CollectionIconBox_2tyaV.gamelisthome_CollectionIcon_nC-pL .gamelisthome_CollectionIconBox_2tyaV {
  background: var(--libraryhome) !important;
}

.gamelisthome_CollectionIcon_nC-pL .gamelisthome_CollectionIconBox_2tyaV {
  background: var(--white) !important;
}

.gamelistsearchbar_Container_20QAC .DialogInput_ClearAction:hover {
  background: red !important;
}

.gamelistsectionheader_SectionHeaderContent_3cV3O:hover .gamelistsectionheader_SectionName_2mZ8L {
  color: var(--titlenamehover) !important;
}

/* Sidebar Minimum Width */
.library_LeftListSizableContainer_9sPoV {
  min-width: 272px !important;
}

/* Removes Sidebar Header Shadow Image */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_HeaderListFadeTop_2_ts8 {
  display: none;
}

/* Removes Sidebar Game Icons */
.gamelistentry_Container_2-O4Z .gamelistentry_GameIcon_ga1hy {
  display: var(--GameIcons) !important;
}

/* Tile Name Hover color */
.gamelistsectionheader_SectionName_2mZ8L:hover {
  color: var(--titlenamehover) !important;
}

/* Game Page Header Background */
.libraryhome_UpdatesContainer_17uE {
  background: var(--darkgrey) !important;
}

/* Filter Button Position */
.gamelistdropdown_Bar_1ZS_x {
  border-top: 0px;
  margin-left: 5px !important;
}

/* Removes Sidebar Divider */
.library_LibraryWindowDivider_276E6 {
  display: none;
}

/* Sidebar Searchbar Filter Button */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY {
  border-radius: 20px;
  margin-left: 10px;
  background-color: var(--darkgrey) !important;
}

/* Sidebar Searchbar */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY:hover {
  border-radius: 20px;
  margin-left: 10px;
}

/* Sidebar Searchbar Color */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase {
  background: var(--darkgrey) !important;
  border-radius: 30px !important;
  padding-right: 20px !important;
}

/* Sidebar Searchbar Hover Color */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase:hover {
  background: var(--darkgrey) !important;
  border-radius: 30px !important;
  padding-right: 20px !important;
}

/* Sidebar Searchbar Position */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogInput_Wrapper {
  margin-left: 5px !important;
}

/* Home Button */
.gamelisthome_Bar_3pSPl {
  border-radius: 4px !important;
  margin-left: 10px !important;
  background-color: var(--BackgroundColor) !important;
  border: 1px solid transparent !important;
  letter-spacing: var(--LetterSpacing) !important;
}

/* Filter Button + Background */
.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m {
  border-radius: 4px;
  background-color: var(--darkgrey) !important;
}

/* Filter Button + Background Hover */
.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m:hover {
  background-color: var(--darkgrey) !important;
}

/* Filter Back To Top Button */
.gamelistdropdown_ScrollToTop_uE7Pj.gamelistdropdown_Visible_rkfSf {
  margin-left: 5px !important;
  border-radius: 20px !important;
}

/* Filter Back To Top Button */
.gamelistdropdown_Bar_1ZS_x {
  border-radius: 20px;
  margin-left: 5px;
}

.gamelistdropdown_ScrollToTop_uE7Pj .SVGIcon_Arrow {
  border: 0px !important;
}

.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m {
  border: 0px !important;
}

/* Sidebar Catogory Name Position */
.gamelist_Container_1ijTa .ReactVirtualized__Grid {
  margin-left: 0px !important;
}

/* Sidebar Catogory Name Lines */
.gamelistsectionheader_SectionRule_1PxXc {
  display: none !important;
}

/* Sidebar Catogory Name Selected */
.gamelistsectionheader_Container_2sYIg.gamelistsectionheader_Selected_sXMOs {
  background-color: var(--titlehover) !important;
}

/* Sidebar Game Name Hover */
.gamelistentry_Container_2-O4Z:hover, .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
  background-color: var(--gamelist) !important;
  transition: 0s !important;
}

/* Sidebar Game Name Selected */
.gamelistentry_Selected_1UBpA {
  background-color: var(--gamelist) !important;
  color: var(--white) !important;
}

/* Sidebar Game Name Selected Hover */
.gamelistentry_Container_2-O4Z.gamelistentry_Selected_1UBpA:hover, .gamelistentry_Container_2-O4Z.gamelistentry_Selected_1UBpA.gamelistentry_HoverOverlay_3cMVy {
  background: var(--gamelist) !important;
}

.contextmenu_contextMenu_PP7LM {
  background: var(--darkgrey) !important;
  border-radius: 4px !important;
  margin-left: 0px !important;
  padding: 2px !important;
  margin-top: 5px !important;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY .gamelistsearchbar_AdvancedSearchPaneContainer_1dgAM.gamelistsearchbar_Visible_1v65x .gamelistsearchbar_AdvancedSearchPane_Woh0k:before {
  display: none !important;
}

.appfilterpane_Container_170Np .appfilterpane_FilterArea_1ennW .appfilterpane_FilterBucket_1axoi .DialogInput_Wrapper .DialogTextInputBase {
  background: var(--darkgrey) !important;
}

.appfilterpane_Container_170Np .appfilterpane_FilterArea_1ennW .appfilterpane_FilterBucket_1axoi .DialogInput_Wrapper .DialogTextInputBase:hover {
  background: var(--darkgrey) !important;
}

.appfilterpane_Container_170Np .appfilterpane_SaveButton_1bqGA:disabled, .appfilterpane_Container_170Np .appfilterpane_SaveButton_1bqGA:disabled:hover {
  background: var(--darkgrey) !important;
  border-radius: 4px !important;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY.gamelistsearchbar_Extended_31r1_ {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY .gamelistsearchbar_AdvancedSearchPane_Woh0k {
  background-color: var(--black) !important;
  box-shadow: 1px 1px 5px 1px var(--black) !important;
  margin-left: 10px !important;
}

.gamelisthome_Label_3O48L {
  visibility: hidden !important;
  font-size: 0px !important;
}

.gamelisthome_Label_3O48L::before {
  font-size: var(--FontSize) !important;
  content: var(--YourLibraryName) !important;
  font-weight: bold !important;
  transition-duration: .3s !important;
  transition-property: color !important;
  text-transform: var(--FontStyle) !important;
  font-family: var(--Font) !important;
  visibility: visible !important;
  display: block !important;
  margin-top: 15px !important;
  letter-spacing: var(--LetterSpacing) !important;
}

.gamelisthome_Selected_eNLOx .gamelisthome_Label_3O48L {
  visibility: hidden !important;
  font-size: 0px !important;
}

.gamelisthome_Selected_eNLOx .gamelisthome_Label_3O48L::before {
  font-size: var(--FontSize) !important;
  transition-delay: .2s !important;
  transition-duration: .2s !important;
  transition-property: color !important;
  color: var(--libraryhome) !important;
  content: var(--YourLibraryName) !important;
  font-weight: bold !important;
  text-transform: var(--FontStyle) !important;
  font-family: var(--Font) !important;
  visibility: visible !important;
  display: block !important;
  margin-top: 15px !important;
  letter-spacing: var(--LetterSpacing) !important;
}

.collapseicon_CollapseIconParent_ehAsU .collapseicon_Container_3SFRZ {
  stroke: var(--white) !important;
}

.gamelistsectionheader_SectionHeaderContent_3cV3O {
  color: var(--libraryhome) !important
}

.gamelistsectionheader_SectionCount_29ute {
  color: var(--white) !important
}

.gamelistsectionheader_SectionHeaderContent_3cV3O svg {
  display: none !important;
}

.collapseicon_Container_3SFRZ .SVGIcon_PlusCircle {
  width: 30px !important;
  margin-left: 0px !important;
}

.gamelistentry_Container_2-O4Z.gamelistentry_Uninstalled_5YTBr:hover, .gamelistentry_Container_2-O4Z.gamelistentry_Uninstalled_5YTBr.gamelistentry_HoverOverlay_3cMVy {
  color: var(--gamehover) !important;
}

.gamelistentry_Container_2-O4Z.gamelistentry_Selected_1UBpA.gamelistentry_Updating_1LVQp {
  color: var(--white) !important;
}

.gamelistentry_AppIconDownloading_2kzMb {
  display: var(--GameIcons) !important;
}

.gamelistentry_FriendIsPlaying_cNZ3w {
  display: var(--FriendInGameIcon) !important;
}

.gamelistentry_Container_2-O4Z .gamelistentry_GameListEntryContainer_1vO6B {
  margin-left: var(--FriendInGameIconPosition) !important;
}

.gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z :hover, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z :hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
  background-color: var(--gamelist) !important;}
